#App #navbar-desktop {
  display: block;
}
#App #navbar-desktop nav{
  display: flex;
  justify-content: space-around!important;
}
#App #navbar-desktop nav ul li a{
  cursor: pointer;
}
#App #navbar-desktop nav ul li a:hover{
  transition: .5s;
  color: brown;
}
#App #navbar-mobile {
  display: none;
}
#button-whatsapp{
  font-size:50px;
  color: white;
  background-color: rgb(37, 211, 102);
  padding: 7px 20px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  animation: whatsapp 5s infinite;
}

@keyframes whatsapp {
  0%{
    scale: 0.95;
  }
  50%{
    scale: 1.1;
  }
  100%{
    scale: 0.95;
  }
}
#button-whatsapp:hover{
  transition: .5s;
  background-color: rgb(27, 151, 73);
}
#button-whatsapp:not(:hover){
  transition: .5s;
  background-color: rgb(37, 211, 102);
}
@media screen and (max-width:600px) {
  #App #navbar-desktop {
    display: none;
  }
  #App #navbar-mobile {
    display: block;
  }
}