#App #navbar-desktop {
  display: block;
}
#App #navbar-desktop nav{
  display: flex;
  justify-content: space-around!important;
}
#App #navbar-desktop nav ul li a{
  color: #fff3dc!important;
  cursor: pointer;
}
#App #navbar-desktop nav ul li a:hover{
  transition: .5s;
  color: brown;
}
#App #navbar-mobile {
  display: none;
}
#button-whatsapp{
  font-size:40px;
  color: white;
  background-color: rgb(37, 211, 102);
  padding: 7px 20px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  animation: whatsapp 5s infinite;
  cursor: pointer;
}

@keyframes whatsapp {
  0%{
    scale: 0.95;
  }
  50%{
    scale: 1.1;
  }
  100%{
    scale: 0.95;
  }
}

.titulo-section {
  font-size: 4.5em!important;
  margin-bottom: 5px;
  color:#d7be91;
}
#button-whatsapp:hover{
  transition: .5s;
  background-color: rgb(27, 151, 73);
}
#button-whatsapp:not(:hover){
  transition: .5s;
  background-color: rgb(37, 211, 102);
}

.text-white-50{
  color: rgb(212, 30, 30)!important;
}

.btn-warning {
  margin-top: 20px;
  background-color: #fff3dc !important;
  border: none!important;
  font-size: 20px!important;
  font-weight: 500;
}
.btn-warning:hover {
  margin-top: 20px;
  background-color: #d7be91 !important;
  border: none!important;
}
.nav-link {
  cursor: pointer!important;
}


@media screen and (max-width:600px) {
  #App #navbar-desktop {
    display: none;
  }
  #App #navbar-mobile {
    display: block;
  }
  .titulo-section {
    font-size: 3em!important;
    margin-bottom: 5px;
  }
}